//title-hover

.title-hover{
    margin-top: 5rem;
    .section-title{
        margin: 1rem;
        .processing-bar{
            margin-left: 0;
        }
        p{
            margin-left: 0;
        }
    }
}

.bg-light{
    .section-title{
        text-align: center;
        padding: 5rem 0;
    }
}
.owl-carousel{
    padding: 0 20px;
    .owl-stage{
        display: flex;
        .item{
            height: 100%;
        }
    }
}

.slide-slick{
    .owl-dots{
        .owl-dot{
            outline: none;
            .active span{
                background: #44ce6f !important;
            }
        }
    } 
}


.img-hv-content{
    height: 100%;
    text-align: center;
    background-color: white;
    padding-top: 3.5rem;
    padding-bottom:3.5rem;
    .img-team{
        // padding: 3rem 3.5rem 3rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        position: relative;
        img{
            border-radius: 100%;
            max-width: 130px;
            display: block;
            border: 3px solid #cdf1d8;
            margin: auto;
            transition: all .5s ease;
            position: relative;
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 10px;
            background-color: #f9f6f6;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .5s ease;
        }
    }
    .text-content{
        padding: 0 3.5rem;
        .text-info{
            padding: 1rem 1.5rem;
            border-radius: 75px;
            margin: 2.5rem 1rem;
            transition: all .5s ease;
            color: white;
            background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
            span{
                font-size: 1.3rem;
                margin-top: 5px;
            }
            h3{
                line-height: 1.2;
                font-size: 1.8rem;
                margin: 0;
            }
        }
        ul{
            justify-content: center;
            li{
                list-style: none;
                margin: 0 3px;
                // &:hover {
                //     transform: translateY(-5px);
                //     transition: all .5s ease;
                // }
                a{

                    display: block;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #f1f1f1;
                    border-radius: 50%;
                    line-height: 30px;
                    transition: all .5s ease;
                    &:hover {
                        transform: translateY(-5px);
                    }
                    i{
                        color: #000;
                        line-height: 1;
                        font-size: 14px;
                    }
                    &:hover i{
                        color: #28a745;
                    }
                }
                
            }
        }
        p{
            color: #666666;
            font-size: 1.4rem;
            font-weight: 400;
            padding: 1.5rem 0 3rem;
        }
    }
    &:hover .text-info{
        border-radius: 0;
        transition: all .5s ease;
    }
    &:hover img{
        border: 3px solid #28a745;
        transition: all .5s ease;
    }
    &:hover .img-team::before{
        height: 0;
        transition: all .5s ease;
    }
}
