section.footer
    .container
        div.footer__content.row
            div.logan.col-lg-3.col-md-6
                a(href="#")
                    img(src="../../../dist/assets/images/logo-2.png", alt="logo")
                p Học với chuyên gia – môi trường học tập sôi động, linh hoạt thời gian học. Với đội ngũ Mentor dày dặn kinh nghiệm, đầy nhiệt huyết , hình thức giảng dạy tiên tiến giúp học viên tiếp thu tốt, có khả năng thực hành cao
            div.company.col-lg-3.col-md-6
                h2 Giới thiệu
                ul
                    li.d-flex
                        span
                        a(href="#") Học Với Chuyên Gia
                    li.d-flex
                        span
                        a(href="#") Mentors
                    li.d-flex
                        span
                        a(href="#") Khóa học   
                    li.d-flex
                        span
                        a(href="#") Học phí
                    li.d-flex
                        span
                        a(href="#") Liên hệ
            div.support.col-lg-3.col-md-6
                h2 Dịch vụ
                ul
                    li.d-flex
                        span
                        a(href="#") Lập trình Website
                    li.d-flex
                        span
                        a(href="#") Lập trình ứng dụng di động
                    li.d-flex  
                        span
                        a(href="#") Lập trình phần mềm
                    li.d-flex
                        span
                        a(href="#") Dịch vụ SEO
                    li.d-flex
                        span
                        a(href="#") Dịch thuật
            div.address.col-lg-3.col-md-6
                h2 Thông tin liên hệ
                ul
                    li
                        <i class="fas fa-map-marker-alt"></i> Hà Nội: 48/215 Định Công Thượng, Phường Định Công, Quận Hoàng Mai, Hà Nội.  
                    li
                        <i class="fas fa-map-marker-alt"></i> TP.HCM: 76/17G Tân Hương, Phường Tân Quý, Quận Tân Phú, Hồ Chí Minh.   
                    li
                        <i class="far fa-envelope"></i>  Email: 
                                a(href="#") hocvoichuyengiait@gmail.com
                    li 
                        <i class="fas fa-phone-volume"></i> Phone: 
                                a(href="#") 0367 448 499
                    li.social-network
                        a.facebook(href="#")
                            <i class="fab fa-facebook-f"></i>
                        a.twitter(href="#")
                            i.fab.fa-twitter
                        a.instagram(href="#")
                            i.fab.fa-instagram
                        a.linkedin(href="#")
                            i.fab.fa-linkedin-in
        div.footer__footer 
            p Copyright @2019. All rights reserved by HVCG   
        .shape1
            img(src="../../../dist/assets/images/shape/shape1.png", alt="shape1")
        .shape8.rotate
            img(src="../../../dist/assets/images/shape/shape2.svg", alt="shape2")