section.menu-nav
    .navmobile
        .container
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../assets/images/logo-2.png", alt="logo")
                .nav-btn
                    button.btn-toggle
                        span.wrapper-op-menu
                            span.icon-op-menu
            .nav-menu
                ul
                    .nav-box
                        li.nav-dropdown
                            a(href="#home") Trang chủ
                    li
                        a(href="#about") Ưu điểm
                    li
                        a(href="#features") Về chúng tôi
                    .nav-box
                        li.nav-dropdown
                            a(href="#pages") Học phí
                    .nav-box
                        li.nav-dropdown
                            a(href="#blog") Cảm nhận
                    li
                        a(href="#contact") Tin tức

                        //Trang chủ, Ưu điểm, Về chúng tôi, Học phí, Cảm nhận, Tin tức.
    .navsticky
        .container
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../assets/images/logo-2.png", alt="logo")
                .nav-menu
                    ul
                        li.nav-dropdown
                            a(href="#home") Trang chủ
                        li
                            a(href="#about") Ưu điểm
                        li
                            a(href="#features") Về chúng tôi
                        li.nav-dropdown
                            a(href="#pages") Học phí  
                        li.nav-dropdown
                            a(href="#blog") Cảm nhận
                        li
                            a(href="#contact") Tin tức
                .other
                    button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet.bg-green Đăng ký học                           