section.our-recent-works
    div.section-title
        h2 Những sản phẩm của học viên
        div.processing-bar
        p Chỉ trong chưa đầy 06 tháng học tập, hãy xem thành quả của các học viên tại HỌC VỚI CHUYÊN GIA
    div#carousel.carousel.owl-carousel.owl-theme
        .item.carousel__block 
            img(src="../../../dist/assets/images/OurRecentWorks/slide1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Website quản lý cửa hàng
                    p Quản lý sản phẩm đơn hàng của cửa hàng chuyên bán nước giải khát
        .item.carousel__block 
            img(src="../../../dist/assets/images/OurRecentWorks/slide2.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Quản lý nhân viên
                    p Cung cấp các dịch vụ quản lý nhân viên, công việc, thời gian đi làm
        .item.carousel__block 
            img(src="../../../dist/assets/images/OurRecentWorks/slide3.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Website bán hàng di động 
                    p Quản lý các sản phẩm di động, cung cấp dịch vụ sửa chữa điện thoại cho khách hàng

