section.our-blog#contact
    .container
        div.section-title
            h2 Những câu chuyện nhỏ...
            div.processing-bar
            p Những câu chuyện nhỏ tại HỌC VỚI CHUYÊN GIA sẽ truyền cảm hứng và tạo động lực cho bạn.
        div.our-blog__main.row
            .col-lg-4.col-md-6
                div.our-blog__block
                    div.our-blog__img 
                        img(src="../../../dist/assets/images/blog-single-img/post-image-one-1-1.jpg", alt="")
                        div.date
                            p <i class="far fa-calendar"></i> 24.04.2019
                    div.our-blog__content
                        a(href="#") Tôi của ngày hôm nay!
                        p by 
                            a(href="") Bùi Quang Hiếu
                        p Sáng – 8h mới dậy nổi vì hôm qua thức khuya để soạn hợp đồng. Vừa rửa mặt vừa nhẩm mấy task gấp hôm nay. Ngồi vào máy tính là cả đống thứ dồn lên. Như kiểu có khoảng chục người cầm mấy cái rổ đựng task xong ném xuống đầu mình càng nhiều càng tốt...
                        a.readmore(href='#') Read More <i class="fas fa-arrow-right"></i>
            .col-lg-4.col-md-6
                div.our-blog__block 
                    div.our-blog__img 
                        img(src="../../../dist/assets/images/blog-single-img/post-image-one-1-1.jpg", alt="")
                        div.date
                            p <i class="far fa-calendar"></i> 24.04.2019
                    div.our-blog__content
                        a(href="#") Tôi của ngày hôm nay!
                        p by 
                            a(href="") Bùi Quang Hiếu
                        p Sáng – 8h mới dậy nổi vì hôm qua thức khuya để soạn hợp đồng. Vừa rửa mặt vừa nhẩm mấy task gấp hôm nay. Ngồi vào máy tính là cả đống thứ dồn lên. Như kiểu có khoảng chục người cầm mấy cái rổ đựng task xong ném xuống đầu mình càng nhiều càng tốt...
                        a.readmore(href='#') Read More <i class="fas fa-arrow-right"></i>
            .col-lg-4.col-md-6
                div.our-blog__block 
                    div.our-blog__img 
                        img(src="../../../dist/assets/images/blog-single-img/post-image-one-1-1.jpg", alt="")
                        div.date
                            p <i class="far fa-calendar"></i> 24.04.2019
                    div.our-blog__content
                        a(href="#") Tôi của ngày hôm nay!
                        p by 
                            a(href="") Bùi Quang Hiếu
                        p Sáng – 8h mới dậy nổi vì hôm qua thức khuya để soạn hợp đồng. Vừa rửa mặt vừa nhẩm mấy task gấp hôm nay. Ngồi vào máy tính là cả đống thứ dồn lên. Như kiểu có khoảng chục người cầm mấy cái rổ đựng task xong ném xuống đầu mình càng nhiều càng tốt...
                        a.readmore(href='#') Read More <i class="fas fa-arrow-right"></i>