.bg-light#pages
        section.section-title
            h2 Học phí
            .processing-bar
            p Chất lượng đào tạo là điều quan trọng nhất tại HỌC VỚI CHUYÊN GIA. Khi đăng ký bất kỳ khóa học nào, bạn đều được chúng tôi đảm bảo tuyệt đối về chất lượng dạy và học.
            p Bạn sẽ được chuyên gia thực sự kèm cặp, hướng dẫn cho đến khi thành thạo ngôn ngữ nào đó. Sau khi hoàn thành khóa học, bạn sẽ được giới thiệu việc làm hoàn toàn miễn phí.
            p HỌC VỚI CHUYÊN GIA chào mừng bạn đến với ngôi nhà chung!
        .container
            .row.bg-pricing
                .col-lg-4.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title
                            h3 KHOÁ LẬP TRÌNH JAVA
                        .pricing-price
                            span 188,000 
                        .pricing-main
                            ul
                                li Số lượng học viên: 5
                                li Địa điểm: 17 Duy Tân
                                li Học phí: 188.000 / 1h
                        .pricing-footer
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet SELECT PLAN
                .col-lg-4.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title.bg-active
                            h3 KHOÁ LẬP TRÌNH JAVA
                        .pricing-price
                            span 188,000 
                        .pricing-main
                            ul
                                li Số lượng học viên: 5
                                li Địa điểm: 17 Duy Tân
                                li Học phí: 188.000 / 1h
                        .pricing-footer.btn-active
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-green.btn-active SELECT PLAN
                .col-lg-4.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title
                            h3 KHOÁ LẬP TRÌNH JAVA
                        .pricing-price
                            span 188,000 
                        .pricing-main
                            ul
                                li Số lượng học viên: 5
                                li Địa điểm: 17 Duy Tân
                                li Học phí: 188.000 / 1h
                        .pricing-footer
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet SELECT PLAN