section#home.top-content(style="background-image: url(../../../dist/assets/images/banner-bg1.jpg)")
    .wrapper-topcontent
        .container.row.ai-center
            .col-md-12.col-sm-12.col-lg-6.mg-tb-5r
                .hd-text
                    h1.cs-h1-top-content Tại sao lại chọn Học Với Chuyên Gia?
                    p.fz16-mg Cam kết 100% cơ hội việc làm tại các công ty công nghệ hàng đầu.
                    p.fz16-mg Mở rộng mạng lưới kết nối với các chuyên gia đầu ngành lĩnh vực công nghệ thông tin.
                    p.fz16-mg Cơ hội thăng tiến, thay đổi tương lai chỉ sau 06 tháng học tập.
                button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet.bg-green TÌM HIỂU NGAY
            .col-md-12.col-sm-12.col-lg-6
                .img-banner
                    img.fadeInDown(src="../../../dist/assets/images/man1/man.png", alt="man")
                    img.fadeInUp(src="../../../dist/assets/images/man1/code.png", alt="man")
                    img.fadeInLeft(src="../../../dist/assets/images/man1/carpet.png", alt="carpet")
                    img.zoomIn(src="../../../dist/assets/images/man1/bin.png", alt="bin")
                    img.bounceIn(src="../../../dist/assets/images/man1/book.png", alt="book")
                    img.fadeInDown(src="../../../dist/assets/images/man1/dekstop.png", alt="desktop")
                    img.zoomIn(src="../../../dist/assets/images/man1/dot.png", alt="dot")
                    img.fadeInUp(src="../../../dist/assets/images/man1/flower-top-big.png", alt="flower_top_big")
                    img.rotateIn(src="../../../dist/assets/images/man1/flower-top.png", alt="flower_top")
                    img.fadeInUp(src="../../../dist/assets/images/man1/keyboard.png", alt="keyboard")
                    img.zoomIn(src="../../../dist/assets/images/man1/pen.png", alt="pen")
                    img.zoomIn(src="../../../dist/assets/images/man1/table.png", alt="table")
                    img.fadeInLeft(src="../../../dist/assets/images/man1/tea-cup.png", alt="tea_cup")
                    img.rollIn(src="../../../dist/assets/images/man1/headphone.png", alt="headphone")
                    img.fadeInUp(src="../../../dist/assets/images/man1/main-pic.png", alt="main-pic")
        .container.row.of-visi
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-01
                        i.fas.fa-handshake
                    h3 LINH HOẠT:
                    p Lớp học được mở liên tục hàng tháng, người học được sắp xếp thời gian học phù hợp với công việc. Thích hợp cho tất cả các bạn còn đi học hay đang đi làm.
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-02
                        i.fas.fa-code
                    h3 NGẮN HẠN:
                    p Thời gian đào tạo chỉ trong 6 tháng, cam kết học đi đôi với hành, tạo ra những sản phẩm của riêng mình. Hỗ trợ giới thiệu việc làm tại các công ty và doanh nghiệp hàng đầu. 
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-03
                        i.fas.fa-users
                    h3 TIẾT KIỆM:
                    p  Tiết kiệm cả tiền bạc và thời gian, chỉ trong vòng 6 tháng để có cơ hội để thay đổi công việc. Được chọn giờ học phù hợp nhất và cho dù bạn không sắp xếp được thời gian thì hãy yên tâm, bạn sẽ được hoàn học phí với những buổi chưa học.
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-04
                        i.fab.fa-ravelry
                    h3 HỌC ĐƯỢC - LÀM ĐƯỢC:
                    p Tất cả những kiến thức được học sẽ cung cấp cho bạn những nền tảng vững chắc và áp dụng để làm dự án thật 100%. Trải qua những dự án thực tế sẽ khiến bạn tự tin hơn khi đi xin việc.
    
    
    
    .shape1
        img(src="../../../dist/assets/images/shape/shape1.png", alt="shape1")
    .shape2.rotate
        img(src="../../../dist/assets/images/shape/shape2.svg", alt="shape2")
    .shape3
        img(src="../../../dist/assets/images/shape/shape3.svg", alt="shape3")
    .shape4
        img(src="../../../dist/assets/images/shape/shape4.svg", alt="shape4")
    .shape6.rotate
        img(src="../../../dist/assets/images/shape/shape4.svg", alt="shape4")
    .shape7
        img(src="../../../dist/assets/images/shape/shape4.svg", alt="shape4")
    .shape8.rotate
        img(src="../../../dist/assets/images/shape/shape2.svg", alt="shape2")
    .shape5
        img(src="../../../dist/assets/images/shape/shape5.png", alt="shape5")
